

<div class="ml-6 p-2 text-base w-80 border-2 bg-slate-50 font-bold rounded-lg flex justify-center">Search Pokémon by
<select [(ngModel)]="parameter" (change)="changeOption()" class="bg-transparent italic ml-2" [disabled]="!datiDisponibili">
    <option value="generation">Generation</option>
    <option value="game-versions">Game Version</option>
    <option value="favourites">Favourites</option>
</select>
</div>


<div *ngIf="parameter == 'generation'" class="ml-6 mt-6 p-2 text-base w-80 border-2 bg-slate-50 font-bold rounded-lg flex justify-center">
    <div>Generation <select [(ngModel)]="generation" (change)="changeOption()" class="bg-transparent italic text-left ml-2" [disabled]="!datiDisponibili">
        <option *ngFor="let gen of generationList" [value]="gen">{{gen}}</option>
        <option value="0">All</option>
    </select>
</div>
</div>


<div *ngIf="parameter == 'game-versions'" class="ml-6 mt-6 p-2 text-base w-96 border-2 bg-slate-50 font-bold rounded-lg flex justify-center">
    <div>Game Version<select [(ngModel)]="game" (change)="changeOption()" class="bg-transparent italic text-left ml-2" [disabled]="!datiDisponibili">
        <!--<option value="1">National</option>-->
        <option value="2">Red | Blue | Yellow</option>
        <option value="3">Gold | Silver | Crystal</option>
        <option value="4">Ruby | Sapphire | Emerald</option>
        <option value="5">Diamond | Pearl</option>
        <option value="6">Platinum</option>
        <option value="7">HeartGold | SoulSilver</option>
        <option value="8">Black | White</option>
        <option value="9">Black 2 | White 2</option>
        <option value="11">Pokemon Conquest</option>
        <option value="12">X | Y (plain)</option>
        <option value="13">X | Y (coast)</option>
        <option value="14">X | Y (mountain)</option>
        <option value="16">Sun | Moon</option>
        <option value="21">UltraSun | UltraMoon</option>
        <option value="26">Let's Go Pikachu | Eevee</option>
        <option value="27">Sword | Shield</option>
        <option value="28">Isle of Armor</option>
        <option value="29">Chrown Tundra</option>
        <option value="30">Legends: Arceus</option>
    </select>
    </div>
</div>


<div *ngIf="parameter == 'favourites'" class="ml-6 mt-6 p-2 text-base w-96 border-2 border-red-600 bg-red-300 hover:bg-red-200 font-bold rounded-lg text-center">
    <button (click)="deleteAllFavourites()" class="h-full w-full bg-transparent">DELETE ALL FAVOURITE POKEMON</button>
</div>



<div class="grid grid-cols-2 content-center p-6 gap-6">
    <div class="w-full">
        <app-card-container (pokemonForm)="modificaPokemon($event)" (reloadList)="reloadList()" [pokemonList]="pokemonList" [datiDisponibili]="datiDisponibili"></app-card-container>
    </div>

    <div class="w-full h-full">
        <app-big-card (newSelectedForm)="modificaPokemon($event)" (reloadFavouriteList)="reloadFavourite()" [currentPokemon]="selectedPokemon"></app-big-card>
    </div>
</div>

