
<div class="bg-yellow-100">

    <!-- =====> NAVBAR <===== -->
    <app-navbar></app-navbar>


    <!-- =====> PAGINE NORMALI - SE VALIDATO <===== -->
    <div *ngIf="pokedex.getValidato(); else NonValidato">
        <router-outlet></router-outlet>
    </div>


    <!-- =====> ERRORE - NON VALIDATO <===== -->
    <ng-template #NonValidato>
        <div class="flex justify-center">
            <div class="font-bold text-center place-items-center rounded-xl border-4 border-yellow-800 border-double p-6 text-yellow-800 w-1/3 bg-gradient-to-r from-yellow-500 to-yellow-200">
                <div class="my-4 text-4xl underline">WARNING!</div>
                <div class="my-8 flex justify-center">
                    <img src="../assets/images/utility/lock-icon.png" class="w-32">
                </div>
                <div class="my-4 text-xl">You need to be <u>logged</u> to access data.</div>
                <div class="flex justify-center my-8">
                    <div class="text-xl border-2 border-yellow-600 rounded-xl hover:bg-yellow-200 w-44 p-2">
                        <a routerLink="/login" class="">
                            Click here to log
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>


    <!-- =====> DIVISORE - SPAZIO <===== -->
    <div class="h-28"></div>


    <!-- =====> FOOTER <===== -->
    <app-footer></app-footer>

</div>
