
<div class="mt-24"></div>

<footer class="p-4 bg-white rounded border-gray-300 border-t-2 shadow-t px-6 py-8">
  <div class="flex justify-between">
    <img src="../assets/images/utility/pokedex-icon.png" class="mr-3 h-8" alt="pokedex project logo"/>
    <ul class="flex flex-wrap items-center mb-6 text-md text-gray-500">
      <li>
        <a href="https://www.marconirovereto.it/" class="pb-2 font-semibold hover:text-red-600 hover:font-bold mr-6" target="_blank">ITT Marconi</a>
      </li>
      <li>
        <a href="https://github.com/andreaBianchi31/BianchiProgettoPokemon" class="pb-2  font-semibold hover:text-red-600 hover:font-bold mr-6" target="_blank">GitHub Project</a>
      </li>
      <li>
        <a href="https://pokeapi.co/" class="pb-2 font-semibold hover:text-red-600 hover:font-bold mr-6" target="_blank">PokéAPI</a>
      </li>
    </ul>
    <a href="https://www.marconirovereto.it/" target="_blank">
      <img src="../assets/images/utility/logo-marconi-rosso.png" class="w-36">
    </a>
  </div>
  <hr class="my-6 border-gray-300 mx-auto" />
  <span class="block text-sm text-gray-500 pb-2 text-center">Made by Bianchi Andrea</span>
  <span class="block text-sm text-gray-500 text-center">© 2023 Pokédex Project. All Rights Reserved.</span>
</footer>
