<div class="p-4 w-full h-full bg-white border border-gray-200 rounded-lg shadow">
    
    <div *ngIf="currentPokemon != null; else PokemonVuoto">

        <div class="text-4xl font-bold">#{{currentPokemon.pokedexNumber}} - {{currentPokemon.name}}</div>

        <div class="text-xl italic mt-4 mb-8">{{currentPokemon.category}}</div>
            
        <div class="flex justify-center my-8">
            <img [src]="artwork" class="w-96 border-2 rounded-3xl border-gray-500 bg-slate-100">
        </div>

        <div class="flex justify-between px-24">
            <button (click)="changeFrontBack()">
                <img [src]="arrow" class="w-16">
            </button>

            <button (click)="changeShiny()">
                <img [src]="redStar" class="w-16">
            </button>

            <button (click)="changeFavourite()">
                <img [src]="heart" class="w-16">
            </button>
        </div>

        <div class="border-t-2 border-t-slate-400 pt-4 mt-4"><b>Generation</b> - {{currentPokemon.generation}}</div>

        <div><b>Height</b> - {{currentPokemon.height}} m</div>

        <div><b>Weight</b> - {{currentPokemon.weight}} kg</div>

        <!--<app-my-chart [stats]="[currentPokemon.hp, currentPokemon.attack, currentPokemon.defense, currentPokemon.specialAttack, currentPokemon.specialDefense, currentPokemon.speed]"  [hp]="currentPokemon.hp" [attack]="currentPokemon.attack" [defense]="currentPokemon.defense"
        [specialAttack]="currentPokemon.attack" [specialDefense]="currentPokemon.specialDefense" [speed]="currentPokemon.speed"></app-my-chart>-->

            
        <div class="text-xl font-bold border-t-2 border-t-slate-400 pt-4 mt-4">Descriptions</div>

        <app-description-slider [entries]="currentPokemon.entries"></app-description-slider>

        <div class="text-xl font-bold border-t-2 border-t-slate-400 pt-4 mt-4">Varieties</div>

        <div>
            <button *ngFor="let pokemon of currentPokemon.pokemonVarieties" >
                <app-mini-card [pokemon]="pokemon" (click)="changeCurrentPokemon(pokemon)"></app-mini-card>
            </button>
        </div>

    </div>

    <ng-template #PokemonVuoto>
        <div class="text-2xl font-bold italic">No pokemon selected.</div>
    </ng-template>
</div>
