
<div class="w-3/4 border-x-8 border-y-2 border-yellow-600 rounded-lg ml-40 py-10 px-14 bg-transparent text-justify">
    <div class="mb-8 font-bold text-3xl text-yellow-600">What is a Pokémon?</div>
    <div class="my-3">Pokémon (<span class="italic font-bold">Pocket Monsters</span>, "Pokémon" for short) are fictional creatures that are
        central to the Pokémon franchise. They were created by <b>Satoshi Tajiri</b> and <b>Ken Sugimori</b>, two japanese programmers,
        for the games <span class="italic font-bold">Pokémon Version Red & Green (1996)</span>.</div>
    <div class="my-3">There are currently <b>1016 known species</b> that inhabit the Pokémon world, each of them belonging to one of the <b>9 Generation</b>.
        Inherent to them are several fantastic powers not demonstrated by most real animals, such as the manipulation of natural elements, such as
        electricity or fire. In fact, each Pokémon possesses one or two of the <b>18 total types</b>: Fire, Water, Grass, Electric, Ground, Rock,
        Fighting, Flying, Dargon, Poison, Psychic, Bug, Ice, Normal, Steel, Dark or Fairy.</div>
    <div class="my-6 grid grid-cols-5 gap-8 items-center">
        <div class="border-2 border-yellow-600 rounded-lg w-full">
            <img class="p-2 w-full" src="../assets/images/pokemon-info/sample-pikachu.png">
            <div class="p-2">This is <b>Pikachu</b>, an <u><i>electric</i></u> type Pokémon.</div>
        </div>
        <div class="border-2 border-yellow-600 rounded-lg w-full">
            <img class="p-2 w-full" src="../assets/images/pokemon-info/sample-bulbasaur.png">
            <div class="p-2">This is <b>Bulbasaur</b>, a <u><i>grass</i></u> type Pokémon.</div>
        </div>
        <div class="border-2 border-yellow-600 rounded-lg w-full">
            <img class="p-2 w-full" src="../assets/images/pokemon-info/sample-charmander.png">
            <div class="p-2">This is <b>Charmander</b>, a <u><i>fire</i></u> type Pokémon.</div>
        </div>
        <div class="border-2 border-yellow-600 rounded-lg w-full">
            <img class="p-2 w-full" src="../assets/images/pokemon-info/sample-squirtle.png">
            <div class="p-2">This is <b>Squirtle</b>, a <u><i>water</i></u> type Pokémon.</div>
        </div>
        <div class="border-2 border-yellow-600 rounded-lg w-full">
            <img class="p-2 w-full" src="../assets/images/pokemon-info/sample-caterpie.png">
            <div class="p-2">This is <b>Caterpie</b>, a <u><i>bug</i></u> type Pokémon.</div>
        </div>
    </div>
    <div class="my-3">
        While most Pokémon <b>resemble animals</b> and may behave like them, there are many that do not resemble animals at all, taking on other
        forms such as plants, inanimate objects, machines, human-like forms, or other more enigmatic and exotic appearances. Pokémon
        inhabit an extremely diverse range of <b>habitats</b>, ranging from the driest deserts to the lushest jungles, the deepest oceans to
        the highest mountains and everything else in between, even outer space and other dimensions. Pokémon take up various ways of
        living in those places. However, all can be befriended and made into potential allies and share the ability to shrink down
        small enough to fit into a Poké Ball.</div>
    <div>Pokémon typically know several techniques that they can use in battle or elsewhere, either to defend themselves or their Trainer,
        or to perform a task. In the anime, most Pokémon are known only to say their name. In the games, each Pokémon has a distinct voice
        associated with each species.</div>
    <div class="my-3">Many Pokémon are able to <b>evolve</b> from or into other Pokémon, a process that typically makes them larger and stronger,
        and more closely resembles growth and development or metamorphosis rather than evolution in the real world. Through evolution, Pokémon
        develop new characteristics, special powers and techniques that make them stronger and more powerfull than before.</div>
        <div class="my-6 grid grid-cols-5 gap-8 items-center">
            <div class="border-2 border-yellow-600 rounded-lg w-full">
                <img class="p-2 w-full" src="../assets/images/pokemon-info/sample-caterpie.png">
                <div class="p-2"><b><u>Base</u> → Caterpie</b> is just a normal Pokémon.</div>
            </div>
            <div>
                <img class="w-full" src="../assets/images/pokemon-info/sample-arrow.png">
            </div>
            <div class="border-2 border-yellow-600 rounded-lg w-full">
                <img class="p-2 w-full" src="../assets/images/pokemon-info/sample-metapod.png">
                <div class="p-2"><b><u>Phase 1</u> → Metapod</b> evolves from Caterpie.</div>
            </div>
            <div>
                <img class="w-full" src="../assets/images/pokemon-info/sample-arrow.png">
            </div>
            <div class="border-2 border-yellow-600 rounded-lg w-full">
                <img class="p-2 w-full" src="../assets/images/pokemon-info/sample-butterfree.png">
                <div class="p-2"><b><u>Phase 2</u> → Butterfree</b> evolves from Metapod.</div>
            </div>
        </div>
    <div class="mb-6 mt-16 italic font-bold order-last">
        <div class="hover:bg-yellow-200 bg-yellow-300 w-48 text-center border-2 border-yellow-600 rounded-lg p-2">Source - <a href="https://bulbapedia.bulbagarden.net/wiki/Pok%C3%A9mon_(species)" target="_blank">Bulbapedia</a></div>
    </div>
</div>
