
<div class="w-3/4 border-x-8 border-y-2 border-yellow-600 rounded-lg ml-40 py-10 px-14 bg-transparent text-justify">
    <div class="mb-8 font-bold text-3xl text-yellow-700">ABOUT ME</div>
    <div class="my-3 text-lg">
        Hello! My name is <b>Andrea Bianchi</b>, I am student of <a class="font-bold hover:text-red-500" href="https://www.marconirovereto.it/" target="_blank">ITT Marconi Rovereto</a> (Trentino, Italy). I always
        loved Pokémon, so I decided to make this website as a school project
    </div>
    <div class="mb-8 mt-16 font-bold text-3xl text-red-600 underline">DISCLAIMER!</div>
    <div class="my-3 mb-6 text-lg">
        This website relies on <a class="font-bold hover:text-red-500" href="https://pokeapi.co/" target="_blank">PokéAPI</a> to get accurate and abundant data that is always up to date.
        Despite this, the data of the 9th Generation Pokémon, expecially their images, are not  up to date.
        It doesn't depend on me. PokéAPI dev-team is keen on keeping the data updated.
        Please be patient and sorry for the inconvenience!
    </div>
</div>
