
<div class="w-3/4 border-x-8 border-y-2 border-yellow-600 rounded-lg ml-40 py-10 px-14 bg-transparent text-justify">
    <div class="mb-8 font-bold text-3xl text-yellow-700 underline">ABOUT ME</div>
    <div class="my-3 text-lg">
        Hello! My name is <b>Andrea Bianchi</b>, I am student of <a class="font-bold hover:text-red-500" href="https://www.marconirovereto.it/" target="_blank">
        ITT Marconi Rovereto</a> (<i>Trentino, Italy</i>). In my free time, I like programming and playing videogames. I always loved Pokémon, so I decided
        to make this website as a school project. In this way, I could program, experiment new technologies and make people know about Pokémon at the same time.
    </div>
    <div class="mb-8 mt-16 font-bold text-3xl text-yellow-700 underline">ABOUT THE WEBSITE</div>
    <div class="my-3 text-lg">
        This website allows you to search various information about Pokémon. You can search sets of Pokemon species by using the filters Generation,
        Game Version or Favourites: all the pokemon species will be displayed on the left. The results are ordered following the natural pokedex order.
        By clicking on a Pokémon species, the information about the said species will be displayed in the card on the right. Each Pokémon is charaterized
        by its <i>pokédex number</i> its <i>category</i>, one or two <i>types</i>, its <i>generation</i>, its <i>weight and height</i>, a set of
        <i>descriptions</i> and its <i>statistics (health points, attack, defense, special attack, special defense, speed)</i>. Some species possess
        <i>alternative forms</i>, visible under the <u>Varieties</u> label. By clicking one of them, you can display the information about that alternative form.
    </div>
    <div class="my-3 text-lg">
        On the right, under the Pokémon image, there are three symbols:
        <ul class="list-disc">
            <li><b>Arrow</b>: click on it to watch the pokémon from <b>the front and the back</b>;</li>
            <li><b>Star</b>: click on it to see the shiny version of the pokémon, in it's <b>alternative colors</b>;</li>
            <li><b>Heart</b>: click on it to add that pokémon species to your <b>favourite pokémon</b> list, it will remain saved even if you close the tab.</li>
        </ul>
    </div>
    <div class="mb-8 mt-16 font-bold text-3xl text-red-600 underline">DISCLAIMER!</div>
    <div class="my-3 text-lg">
        This website relies on <a class="font-bold hover:text-red-500" href="https://pokeapi.co/" target="_blank">PokéAPI</a> to get accurate and abundant data that is always up to date.
    </div>
    <div class="my-3 text-lg">
        Despite this, the data of the <span class="font-bold text-red-600">9th Generation Pokémon</span>, expecially their images, are <b>NOT up to date</b>.
        PokéAPI dev-team is keen on keeping the data updated.
    </div>
    <div class="my-3 mb-6 text-lg">
        So please, be patient and wait for an update of the data. Sorry for the inconvenience, but it doesn't depend on me. 
    </div>
</div>
