
<div class="flex flex-nowrap w-full h-36 justify-between mt-4 mb-4">
    <button (click)="indietro()" class="h-full w-28 bg-slate-300 font-bold rounded-lg text-lg hover:bg-slate-200">BACK</button>
    <div class="self-center h-full w-full p-4 italic bg-slate-100 rounded-lg text-lg">
        <div *ngIf="entries.length>0; else NoEntry" class="font-normal">
            <b>[ {{index+1}} / {{entries.length}} ] -</b> {{entry}}
        </div>
        <ng-template #NoEntry>
            <div class="italic font-bold">
                No entry available.
            </div>
        </ng-template>
    </div>
    <button (click)="avanti()" class="h-full w-28 bg-slate-300 font-bold rounded-lg text-lg hover:bg-slate-200">NEXT</button>
</div>
