

<div>

  <div class="w-full p-4 bg-white border border-gray-200 rounded-lg shadow">

    <div class="flex justify-between">
      <h5 class="mb-3 font-bold text-gray-900 text-xl">
          List of Pokemon Species
      </h5>
      <button class="w-10 hover:animate-spin" (click)="reloadPokemonList()">
        <img class="w-full" src="../assets/images/utility/reload-icon-active.png">
      </button>
    </div>

    <p class="text-sm font-semibold italic text-gray-500">{{pokemonList.length}} pokémon species found.</p>

    <div class="my-4 grid grid-cols-2" *ngIf="datiDisponibili">
      <app-small-card (pokemonForm)="modificaPokemon($event)" *ngFor="let pokemon of pokemonList; let i = index" [pokemonSpecies]="pokemon" class="m-2"></app-small-card>
    </div>

  </div>

</div>

