
<button class="w-full" (click)="clickCard()">
  <div class="border-2 border-slate-300 flex items-center p-3 text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-200 group hover:shadow">
      <img [src]="pokemonSpecies.defaultPokemonArtwork" class="w-20">
      <span class="flex-1 ml-3 overflow-hidden overflow-ellipsis">#{{pokemonSpecies.pokedexNumber}} - {{pokemonSpecies.name}}</span>
      <span *ngIf="pokemonSpecies.isLegendary" class="inline-flex items-center justify-center px-2 py-0.5 ml-3 text-sm font-medium text-black bg-yellow-200 rounded">Legendary</span>
      <span *ngIf="pokemonSpecies.isMythical" class="inline-flex items-center justify-center px-2 py-0.5 ml-3 text-sm font-medium text-black bg-sky-300 rounded">Mythical</span>
      <span *ngIf="pokemonSpecies.isBaby" class="inline-flex items-center justify-center px-2 py-0.5 ml-3 text-sm font-medium text-black bg-pink-300 rounded">Baby</span>
    </div>
</button>
